
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
/*第一张*/
/*背景*/
.BJ{
    width: 100%;
    height: 100%;
   background: #3e88f1;
    position: relative;
}
/*转角遇见*/
.zjyj{width:55%;height:20%;position: absolute;top:11%;left:23%;}
/*向日葵*/
.smile{position: absolute;width:13%;height:11%}
.xrk_left{width:16%;height:11%;left:14%;top:11%;}
.xrk_right{left:63%;top:20%;transform: rotate(15deg)}
/*坐飞机*/
.ZFJ{width:87%;height:26%;position: absolute;left:6%;top:36%;}

/*建筑*/
.build{width:100%;height:16%;position: absolute;top:84%;left:0%}

/*爆炸的*/
.baozha{width: 100%;height: 100%;position: absolute;left:0%;top:8%}

/*云彩的*/
.yuncai{width: 75%;height: 70%;position: absolute;left:10%;top:8%}

/*-----------------------第二张-----------------------------*/
.page2{background: black;position: relative;overflow: hidden}
.star{width:100%;height:100%;position: absolute;left:0%;z-index: 98;}
.Text{width:53%;height:8%;position: absolute;z-index: 99}
.TextA{left: 27%;top:40%}
.TextB{left: 27%;top:50%}
.meteorA{width:100%;height:100%;position: absolute;z-index:100;left: -55%;top:60%}
.meteorB{width:100%;height:100%;position: absolute;z-index:100;left: 13%;top:0%}
/*-----------------------第三张-----------------------------*/
/*ctrl+alt+L*/
.page3{background: black;position: relative;overflow: hidden}
.city{width:100%;height:100%;}
.company{width:100%;height:100%;position: absolute;left:0%;}
.time{width:28%;height:7%;position: absolute;left:0%;top:10%}
.road{width:100%;height:55%;position: absolute;left:0%;top:45%}
.bus{width:73%;height:26%;position: absolute;left:0%;top:70%;z-index: 96}
.worker{width:25%;height:15%;position: absolute;right: -25%;top:80%;z-index: 97}
.moonBJ{width:100%;height:100%;position: absolute;left:0%;z-index: 98}
.Box{width:35%;height:56%;position: absolute;left:65%;top:40%;z-index: 99}
.setdown{width:31%;height:20%;position: absolute;left:55%;top:25%;z-index: 100}
.Txt_one{width:11%;height:3%;position: absolute;left:13%;top:35%;z-index: 101}
.dream{width:20%;height:5%;;position: absolute;z-index: 102;left:13%}
.Txt_team{top:40%}
.Txt_space{top:46%}
.Txt_future{top:52%}
.Txt_where{width:55%;height:11%;;position: absolute;z-index: 102;left:28%;bottom: 10%}
/*-----------------------第四张-----------------------------*/
.page4{background:#256ba8;}
.city_four{width:100%;height:100%;position: relative;}
.ligntOff{width:30%;height:80%;;position: absolute;left:7%;top:20%;}
.corner{width:53%;height:9%;;position: absolute;left:47%;top:7%;}
.Txt_lighten{width:49%;height:3%;;position: absolute;left:33%;top:30%;}
.lightOn{width:30%;height:80%;;position: absolute;left:7%;top:20%;}
/*-----------------------第五张-----------------------------*/
.page5{width:100%;height:100%;}
.Text_ta{width:78%;height:16%;position: absolute;left:7%;bottom:20%;}
.football{width:60%;height:30%;position: absolute;left:30%;top:25%;z-index: 99}
.footCity{width:100%;height:35%;position: absolute;top:0%;left:0%;}
.footTx{width:73%;height:13%;position: absolute;left:15%;bottom:26%;}
/*-----------------------第六张-----------------------------*/
.page6{width:100%;height:100%;}
.runAvatar{width:30%;height:30%;position: absolute;left:23%;bottom:45%;}
.runTxt{width:73%;height:13%;position: absolute;left:15%;bottom:26%;}
/*-----------------------第七张-----------------------------*/
.page7{width:100%;height:100%;background: url("images/danlv.jpg")}
.salaryBg{width:88%;height:55%;position: absolute;left:8%;bottom:40%;}
.salaryAvatar{width:42%;height:37%;position: absolute;left:30%;bottom:55%;}
/*-----------------------第八张-----------------------------*/
.page8{width:100%;height:100%;background: url("images/danlan.jpg")}
.intro{width:58%;height:8%;position: absolute;left:20%;top:8%;z-index:99;}
.introFlowers{width:20%;height:10%;position: absolute;left:5%;top:5%;z-index:100;-webkit-animation: sunflower infinite}/*向日葵*/
@-webkit-keyframes  sunflower {
    0% {
        transform: scale(1, 1); /*缩放*/
    }
    100% {
        transform: scale(1.1, 1.1);
    }
}
.introCloudy{width:95%;height:65%;position: absolute;top:8%;left:0%;z-index:101}/*灰色的云背景*/
.page8BJ{width:100%;height:100%;background: url("images/danlan.jpg")}
.Text_container{width:94%;height: 72%;background:#fb5a52;border-radius:3%;position: absolute;left:3%;top:12%;}
.Text_content{width:90%;height: 65%;background:#ef3e38;position: absolute;left:5%;top:13%;}
.Text_p{width:80%;height: 45%;position: absolute;left:11%;top:19%;color: #fff;}
.Text_p p{text-indent: 2em;font-weight: 300;font-size:4%;text-align: center;text-align:left}/*首行缩进*/
.introAvatar{width:30%;height:25%;position: absolute;bottom:0%;left:68%;z-index:102}
.introStar{width:13%;height:12%;position: absolute;bottom:16%;left:57%;z-index:102;-webkit-animation: starX infinite}
@-webkit-keyframes  starX {
    0% {
        opacity:1;
        transform: scale(0.8, 0.8); /*缩放*/
    }
    100% {
        opacity:0.7;
        transform: scale(0.6, 0.6);
    }
}
/*-----------------------第9张-----------------------------*/
.page9{background: #3e88f1}
.endBg{width: 100%;height: 100%;}
.endTxt{width:58%;height: 13%;position: absolute;left:22%;top:22%;}
.endMail{width:60%;height: 5%;position: absolute;left:21%;top:39%;}
.endClickGuide{width:30%;height: 2%;position: absolute;left:35%;top:50%;}
.endAvatar{width:58%;height: 15%;position: absolute;left:22%;top:56%;}



#MusicBJ{width: 20%;height: 20%;background: url("images/musicBtn.png") no-repeat;position: absolute;left:74%;top:5%;z-index: 99}